ShiftDiary.Web/Service References/ShiftService/ShiftService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ShiftDiary.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ShiftDiary.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfShift">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Shift" nillable="true" type="tns:Shift" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShift" nillable="true" type="tns:ArrayOfShift" />
  <xs:complexType name="Shift">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShiftBreakMins" type="xs:int" />
      <xs:element minOccurs="0" name="ShiftDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ShiftEnd" type="xs:long" />
      <xs:element minOccurs="0" name="ShiftStart" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Shift" nillable="true" type="tns:Shift" />
</xs:schema>