ShiftDiary.Web/Service References/ShiftService/ShiftService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ShiftDiary.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ShiftDiary.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfShift">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Shift" nillable="true" type="tns:Shift" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShift" nillable="true" type="tns:ArrayOfShift" />
  <xs:complexType name="Shift">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShiftBreakMins" type="xs:int" />
      <xs:element minOccurs="0" name="ShiftDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ShiftEnd" type="xs:long" />
      <xs:element minOccurs="0" name="ShiftStart" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Shift" nillable="true" type="tns:Shift" />
  <xs:complexType name="Month">
    <xs:sequence>
      <xs:element minOccurs="0" name="MonthInt" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weeks" nillable="true" type="tns:ArrayOfWeek" />
      <xs:element minOccurs="0" name="Year" nillable="true" type="tns:Year" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Month" nillable="true" type="tns:Month" />
  <xs:complexType name="ArrayOfWeek">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Week" nillable="true" type="tns:Week" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWeek" nillable="true" type="tns:ArrayOfWeek" />
  <xs:complexType name="Week">
    <xs:sequence>
      <xs:element minOccurs="0" name="Days" nillable="true" type="tns:ArrayOfDay" />
      <xs:element minOccurs="0" name="Index" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Week" nillable="true" type="tns:Week" />
  <xs:complexType name="ArrayOfDay">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Day" nillable="true" type="tns:Day" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDay" nillable="true" type="tns:ArrayOfDay" />
  <xs:complexType name="Day">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Shifts" nillable="true" type="tns:ArrayOfShift" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Day" nillable="true" type="tns:Day" />
  <xs:complexType name="Year">
    <xs:sequence>
      <xs:element minOccurs="0" name="Months" nillable="true" type="tns:ArrayOfMonth" />
      <xs:element minOccurs="0" name="Name" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Year" nillable="true" type="tns:Year" />
  <xs:complexType name="ArrayOfMonth">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Month" nillable="true" type="tns:Month" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMonth" nillable="true" type="tns:ArrayOfMonth" />
</xs:schema>