ShiftDiary.Web/Service References/CalendarService/CalendarService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ShiftDiary.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ShiftDiary.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCalendar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Calendar" nillable="true" type="tns:Calendar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCalendar" nillable="true" type="tns:ArrayOfCalendar" />
  <xs:complexType name="Calendar">
    <xs:sequence>
      <xs:element minOccurs="0" name="CalendarDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Calendar" nillable="true" type="tns:Calendar" />
</xs:schema>